# IDE Configuration and Cache Files
# ----------------------------------------------------------------------------------------------------
**/.idea/
**/.vscode/
**/.vs/
**/*.iml
**/*.suo
**/*.user
**/*.userprefs
**/workspace.xml
**/.history/
**/.gradle/

# Operating System Specific Files
# ----------------------------------------------------------------------------------------------------
**/.DS_Store
**/Thumbs.db
**/Desktop.ini